streamlit
openai
langchain
langchain-community
langchain-huggingface
chromadb
pypdf
pillow
vllm 
langchain-text-splitters 
langchain_chroma
psutil
GPUtil
setuptools
sentence-transformers
gpustat
matplotlib
plotly
docx2txt
pymupdf
vllm